---
import "../../styles/global.css";
---

<header class="sticky top-0 z-50  backdrop-blur-md shadow-lg ">
  <nav class="mx-auto max-w-7xl px-4">
    <ul
      class="flex items-center justify-center gap-8 py-0 text-white font-mono text-xl"
    >
      <li>
        <a
          href="#inicio"
          class="nav-link hover:text-amber-400 transition-colors"
        >
          Inicio
        </a>
      </li>

      <li>
        <a
          href="#catalogo"
          class="nav-link hover:text-amber-400 transition-colors"
        >
          Catálogo
        </a>
      </li>

      <li class="mx-4">
        <a href="/" aria-label="Página principal">
          <img
            src="favicon.svg"
            alt="Logo"
            class="h-25 w-25 hover:scale-105 transition-transform"
          />
        </a>
      </li>

      <li>
        <a
          href="#testimonios"
          class="nav-link hover:text-amber-400 transition-colors"
        >
          Testimonios
        </a>
      </li>

      <li>
        <a
          href="#contacto"
          class="nav-link hover:text-amber-400 transition-colors"
        >
          Ubícanos
        </a>
      </li>
    </ul>
  </nav>
</header>
